
<app-header></app-header>

<div class="contenido">

    <div class="dicc-banner">
        <div class="dicc-texto">
            <h3>Diccionario Español</h3>
        </div>
        <span class="dicc-spacer"></span>
        <div class="dicc-Opciones">
            <button mat-raised-button style="color: #333; border: 1px solid; right: 0; height: 35px;"
                (click)="openDialog()">Añadir palabra</button>
            <div>
                <div class="dicc-buscador">
                    <input type="text" class="dicc-input" placeholder="Palabra a buscar..." [(ngModel)]="filtercards">
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="palabrasEspanolas.length !=0; else DictionaryEmpty">
        <div class="tarjetas">
            <div class="caja-espanol" style="margin-left: 20px;"
                *ngFor="let espanol of palabrasEspanolas | filter: filtercards">

                <app-espanol-card (delete)=Borrar(espanol) (edit)=EditarPalabra(espanol) [espanol]="espanol">
                </app-espanol-card>

            </div>
        </div>
    </ng-container>

    <ng-template #DictionaryEmpty>
        <div style="margin-top: 100px;">
            <div
                style="box-shadow: 2px 2px 2px #333; border: 1px solid; border-radius: 10px; color: #333; text-align: center; padding: 10px; margin: 100px; width: 300px; margin: 0 auto;">
                <div>
                    <div>
                        <label style="font-weight: 600; display: flex; justify-content: center;">¡ERROR!</label>
                    </div>

                    <hr style="margin-top: 10px">
                    <label style="padding: 10px;">Lamentablemente no hemos podido encontrar ningún estudiante en la base dedatos.</label><br>
                    <img src="https://image.flaticon.com/icons/png/512/752/752755.png" width="50px"
                        style="padding: 10px;" />
                </div>
            </div>
        </div>
    </ng-template>

</div>

<app-footer></app-footer>
