:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .contenido{
    min-height: calc(100vh - 230px);
    background-size: cover;
    background-image: url("src\assets\images\bg.jpg");
  }

  .tarjetas{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tarjetas :hover{
    transform: translate(0px, -3px);
  }
  
  ::-webkit-input-placeholder { 
    color: white;
    font-family: Roboto;
  }
  ::-moz-placeholder {
    color: #333;
  }
  :-ms-input-placeholder {
    color: #333;
  }