<app-header></app-header>

<div class="contenido">

    <div class="banner">
        <div class="texto">
            <h3>Diccionario Inglés</h3>
        </div>
        <span class="spacer"></span>
        <div class="Opciones">
            <button  mat-raised-button style="color: #333; border: 1px solid; right: 0; height: 35px;" (click)="openDialog()">Añadir palabra</button>
            <div>
                <div class="buscador">
                  <input type="text" class="input" placeholder="Palabra a buscar...">
                  <input type="button" value="Buscar" class="close-btn">
                </div>
              </div>
        </div> 
    </div>
    <hr>

</div>

<app-footer></app-footer>