<div class="wrapper">
    		
    <div class="card radius shadowDepth1">

        <div class="card__content card__padding">
            <div class="card__share">
                <a id="share" class="share-toggle share-icon-delete" (click)= "delete.emit(espanol)"></a>
                <a id="share" class="share-toggle share-icon-modify"(click)= "edit.emit(espanol)"></a>
            </div>

            <div class="card__meta">
                <label>Palabra española</label><br>
                <time>{{espanol.fechaAlta}}</time>
            </div>

            <article class="card__article">
                <h2><label>{{espanol.palabra}}</label></h2>
                <p class="description">{{espanol.descripcion}}</p><hr>
                <p style="font-weight: 500;">Última modificación: {{espanol.fechaModificacion}}</p>
            </article>
        </div>
    </div>

    
</div>