<footer>
    <div class="footer">
        <div class="footer-info">
            <h3>Información sobre la web</h3>
            <p style="font-size: medium;">Esta aplicación está desarollada en Angular y permite la gestión y administración de un diccionario de palabras Inglés-Español.</p>
            <hr>
            <p>Copyright © 2021 All Rights Reserved by Alejandro Buitrago.</p>
        </div>
        <div class="footer-links">
            <h3>Enlaces Útiles</h3>
            <ul style="list-style-type: none;">
                 <li><a [routerLink]="['']">Inicio</a></li>
                 <li><a [routerLink]="['/espanol']">Palabras Español</a></li>
                 <li><a [routerLink]="['/ingles']">Palabras Inglés</a></li>    
                 <li><br></li> 
            </ul>
        </div>
    </div>
</footer>