<div class="caja1">
    <form id="formulario" [formGroup]="miFormulario">
  
      <h3 class="TituloModal">Añadir palabra <br> al diccionario <strong>Inglés.</strong></h3>
      <hr>
  
      <div>
        <label>Palabra</label>
        <input placeholder="Palabra en Ingles" type="text" name="ingles" id="ingles" formControlName="ingles">
        <br>
        <label>Palabra en Español</label>
        <input placeholder="Traducción en Español" type="text" id="espanol" name="espanol"
          formControlName="espanol">
      </div>
  
      <div class="Botones">
        <button mat-stroked-button id="boton-enviar" color="primary" [disabled]="miFormulario.invalid"
          (click)="AddPalabra()">Añadir al diccionario</button>
        <button mat-stroked-button color="primary" style="margin-left: 15px; color: brown;" [mat-dialog-close]>Cancelar</button>
      </div>
  
    </form>
  </div>